manifest {
  description = 'Proof of concept of a SRA to compressed FASTQ pipeline with Nextflow' 
  author = 'Maximilian Greil'
  nextflowVersion = '>=21.04.3'
}

profiles {
  standard {
    process.container = 'maxgreil/sradcqc'
    docker.enabled = true
  }
}

process {
    withName: DOWNLOAD {
        cpus = 8
    }
} 

