manifest {
  description = 'Proof of concept of a SRA to compressed FASTQ pipeline with Nextflow'
  author = 'Maximilian Greil'
  nextflowVersion = '>=21.10.5'
  name = 'sradcqc'
  version = '0.1.0'
}

// Global default params, used in configs
params {

  tracedir = "info"
  singleEnd = true
  bbmap_adapters = "$baseDir/assets/adapters.fa"
  
}

profiles {
  standard {
    process.container = 'maxgreil/sradcqc'
    docker.enabled = true
  }
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}
