int threads = Runtime.getRuntime().availableProcessors()

process {
    withName: CONVERT {
        cpus = threads
    }
}

process {
    withName: COMPRESS {
        cpus = threads
    }
}

process {
    withName: FASTQC {
        cpus = threads
    }
}

process {
    withName: FASTQC_TRIM {
        cpus = threads
    }
}

process {
    withName: TRIM {
        cpus = threads
    }
}
